body {
  background: #9ec25f url(../images/crisp_paper_ruffles_green.png);
  font-size: 65px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
  text-align: center;
}

h1 {
	font-size: .8em;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 1px 2px 0px #EEE, 1px 3px 0px #707070;
  margin: 10px 0 20px;
}

#swag_switch, #swag_switch .block, #swag_switch span {
  width: 2.6em;
}

#swag_switch, #swag_switch .contents {
  border: solid #555
}

#swag_switch {
  border-width: 0 3px;
  background: #DDD;
  display: inline-block;
  height: 6em;
  overflow: hidden;
}

#swag_switch .contents {
  border-width: 0 0 3px 0;
  margin-top: -3em;
  -webkit-transition: all .5s cubic-bezier(.42, 0, .58, 1);
  -moz-transition: all .5s cubic-bezier(.42, 0, .58, 1);
  -o-transition: all .5s cubic-bezier(.42, 0, .58, 1);
  -ms-transition: all .5s cubic-bezier(.42, 0, .58, 1);
  transition: all .5s cubic-bezier(.42, 0, .58, 1);
}

#swag_switch.checked .contents {
  border-width: 3px 0 3px 0;
  margin-top: 0;
}

#swag_switch .block {
  background: #999;
  border: 0 solid #BBB;
  border-bottom-width: .7em;
  height: 2.3em;
  -webkit-transition: all .5s cubic-bezier(.42, 0, .58, 1);
  -moz-transition: all .5s cubic-bezier(.42, 0, .58, 1);
  -o-transition: all .5s cubic-bezier(.42, 0, .58, 1);
  -ms-transition: all .5s cubic-bezier(.42, 0, .58, 1);
  transition: all .5s cubic-bezier(.42, 0, .58, 1);
}

#swag_switch.checked .block {
  border-top-width: .7em;
  border-bottom-width: 0;
}

#swag_switch span {
  display: block;
  height: 1em;
  padding: 1em 0;
}

#swag_switch .on {
  margin-bottom: -3px;
}

/*.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}*/

.footer div {
  display: inline-block;
}